body {
	background-color: #FFFF99;
	color: black;
	font-family: sans-serif;
	margin: 10px;
}
h1,h2,h3,h4 {
	text-transform: uppercase;
	color: red;
	font-family: sans-serif;
	font-weight: bold;
}
li {list-style: square;
}
p {color: darkblue;
	font-family: sans-serif;
}
a {color: red;
	cursor: pointer;
}
